<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id ="wrap">
    <a>검색</a>

    <form role="form" action = "notices/search" method ="GET">
        <div class="search">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
        </div>

        <button type ="submit">검색하기</button>
    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice : ${noticeList}">
            <td th:text="${notice.id}"></td>
            <td th:text="${notice.title}"></td>
            <td th:onclick ="|location.href = 'https://+{id}(id = __${notice.URL}__'|" th:text="${notice.URL}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>